.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

@font-face {
  font-family: "britannic";
  src: url("./font/C64_Pro-STYLE.ttf") format("truetype");
}

body {
  background-color: rgb(224, 209, 66);
  color: black;
  font-family: "britannic", Arial, sans-serif;
  margin: 0 auto;
}

#itemList {
  background-color: black;
  font-family: "britannic", Arial, sans-serif;
  height: auto;
  padding: 15px;
  width: 55%;
  color: white;
  background: -webkit-linear-gradient(300deg, #f33100, #000);
  background: -moz-linear-gradient(top, #f33100, #000);
  background: linear-gradient(top, #f33100, #000);

  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#itemList li {
  background-color: none;
  background: none;
  border: none;
  padding: 10px;
}

#playerList {
  position: relative;

  right: -226px;
  top: -460px;
  width: 158px;
  background-color: black;
  font-family: "britannic", Arial, sans-serif;

  padding: 0px;
  font-size: 12pt;
  border: solid 10px black;
}
#playerList button {
  font-size: small;
  background-color: none;
  min-width: 148px;
  color: gray;
  border-color: gray;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
}
#playerList li {
  background-color: none;
}

#timer {
  position: relative;
  bottom: 0px;
  left: 2em;
  margin: 10px;
}

#diceRoller {
  position: relative;
  bottom: 110px;
  right: -100px;
  /* background-image: url("./img/Die.png"); */
  width: 150px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

#game {
  margin: 0px auto;
  width: 400px;
  height: auto;
  padding: 15px;
  border: black;

  background: -webkit-linear-gradient(300deg, #f33303, #000);
  background: -moz-linear-gradient(top, #ec6341, #000);
  background: linear-gradient(top, #ec6341, #000);

  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#stage {
  margin: 0px auto;
  width: 350px;
  height: 350px;
  position: relative;
  background: black;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  left: -50px;
  margin-bottom: 20px;
  border: 1px solid rgb(224, 209, 66);
}

#logo {
  text-align: center;
  font-size: 32px;
  color: #ffbf00;
  padding-bottom: 20px;

  text-shadow: 3px 3px lime;

  -webkit-text-stroke: 1px #000;
  -moz-text-stroke: 1px #000;
  text-stroke: 1px #000;
}

input {
  font-size: 15px;
  background-color: black;
  color: #ffbf00;
  width: 300px;
  padding: 5px 10px;
  border: 1px solid lime;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

button {
  font-size: 15px;
  color: #ffbf00;
  padding: 5px 10px;
  border: 2px solid lime;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: black;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

button:hover {
  background-color: #ffbf00;
  color: #000;
}

button:active {
  background-color: #9e7606;
  color: #000;
}

#root #app {
  margin: 0 auto;
}

#logoPic {
  height: 58px;
  width: 60px;
  float: left;

  background-image: url("./img/Grog.png");
}

.toolTip {
  font-family: "britannic", Arial, sans-serif;
  width: 500px;
}

.tooltip-inner {
  max-width: 350px;
  /* If max-width does not work, try using width instead */
  width: 350px;
}

#splash {
  background-color: #000;

  left: -500px;
  position: absolute;
}

<<<<<<< HEAD
#splash,   hr {

  border: 1px solid rgb(224, 209, 66);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
=======
#splash  hr {
  background-color: #000;
  font-family: "britannic", Arial, sans-serif;
  color: whitesmoke;
>>>>>>> Not sure

}

.modal-body {
  background-color: #000;
  height: 100%;
  width: 1000px;
  left: -15em;
  margin-top: 0px;
  color: whitesmoke;
  overflow: hidden;
}

.modal-content {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background-color: transparent;
  margin: 0px;
  color: whitesmoke;
}

.fade {
  background: #000;
  height: 100%;
  overflow: hidden;
}
#logoSplash {
  text-align: center;
  font-size: 50px;
  color: #ffbf00;
  padding-bottom: 20px;

  text-shadow: 3px 3px lime;

  -webkit-text-stroke: 1px #000;
  -moz-text-stroke: 1px #000;
  text-stroke: 1px #000;
}

.ready {
  border: 2px solid lime;
  padding: 10px;
<<<<<<< HEAD
  text-align: center;
=======
  width: 4em;
>>>>>>> Not sure
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: black;
<<<<<<< HEAD
  font-size: 14pt;
=======
>>>>>>> Not sure


}
