.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

@font-face {
  font-family: "britannic";
  src: url("./font/BRITANIC.TTF") format("truetype");
}

body {
  background-color: black;
  color: white;
  font-family: "britannic", Arial, sans-serif;
  font-size: 1.5em;
  margin: 0 auto;
}

#itemList {
  background-color: black;
  font-family: "britannic", Arial, sans-serif;
  width: 55%;
  float: right;

}

#itemList li {
  background-color: black;
}

#playerList {
  background-color: black;
  font-family: "britannic", Arial, sans-serif;
  width: 300px;
  position: absolute;
float: left;
border: 1px;
border-style: groove; 
}

#playerList li { 
  background-color: black;
}

#timer{
  position: absolute;
  bottom: 30px;
  left: 100px
}
